<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SakoTV</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
        
       <!--favicon-img--> 
       <link rel="icon" type="image/png" href="images/sakoLink-beyaz.png">
       <!--favicon-img-->
    
        <link rel="stylesheet" href="css/index.css">
       
    
    </head>
<body>
    <main id="songs-one">


        
        <div class="cursor scale"></div>
        <div class="cursor-two scale"></div>


        <div id="preloader">
            <div class="p">
                <img src="images/livetv.png" alt="livetv">
            </div>
            <div class="p">Hazırsanız... SakoTV Farkıyla</div>
        </div>

<!-- CONTENT -->
        <div id="songs-one-content">



   <!-- NAVIGATION -->
   <div class="navigation">
    <div class="logo hover ">
       <a href="songs-one.html" class="text">SakoTV</a>
    </div>
    </div>
</div>
<!-- NAVIGATION -->






<!-- HEADING -->
<div class="heading">
    <div class="text">
      MAÇ LİNKLERİ
    </div>
</div>

<!-- HEADING -->




<!-- SONGS CONTAINER -->


<div class="center">
<div id="songs-container">



    <!-- SONG -->
<div class="song fade-up">

    <div class="song-img">
        <img src="images/Bein Sports 1.png" alt="song">
    </div>

    <div class="song-details">
        <div class="song-details-content">
        <div class="song-name">Bein Sports 1 HD</div>
        <div class="artist-name">Playhls.com</div>
        </div>
         
            <div class="play-bein1">
                <a href="https://playhls.com/?url=https%3A%2F%2Ftest.cors.workers.dev%2F%3Fhttps%3A%2F%2Foctff.tvbom.online%2Fyayinzirve.m3u8" target="_blank">
                    <img src="images/play.png" alt="play">1080P
                </a>   
            </div>
            <div class="play-bein12">
                <a href="https://playhls.com/?url=https%3A%2F%2Ftest.cors.workers.dev%2F%3Fhttps%3A%2F%2Foctff.tvbom.online%2Fyayinstar.m3u8" target="_blank">
                    <img src="images/play.png" alt="play">720P
                </a>   
            </div>
    </div>
</div>
<div class="song fade-up">
    <div class="song-img">
        <img src="images/Bein Sports 1.png" alt="song">
    </div>
    <div class="song-details">
        <div class="song-details-content">
        <div class="song-name">Bein Sports 1 HD</div>
        <div class="artist-name">Livepush.io (Ekran Yansıtma)</div>
        </div>
        <div class="play-bein1-2">
            <a href="https://player.livepush.io/emv5Azvi9fwDW" target="_blank">
                <img src="images/play.png" alt="play">1080P
            </a>   
        </div>
        <div class="play-bein1-2">
            <a href="https://player.livepush.io/emv_f50B7kbHh" target="_blank">
                <img src="images/play.png" alt="play">720P
            </a>   
        </div>
    </div>
</div>
    <!-- SONG -->


        <!-- SONG -->
<div class="song fade-up">


    <div class="song-img">
        <img src="images/Bein Sports 2 (1).png" alt="song">
    </div>

    <div class="song-details">
        <div class="song-details-content">
        <div class="song-name">Bein Sports 2 HD</div>
        <div class="artist-name">Playhls.com</div>
        </div>
        <div class="play-bein2">
         
            <a href="https://playhls.com/?url=https%3A%2F%2Fsakolink-online.linksako.workers.dev%2F%3Fu%3Dhttps%3A%2F%2Fm3u8.herseyunutulur.workers.dev%2Fyayinb2.m3u8" target="_blank">
                <img src="images/play.png" alt="play">720P
            </a>  

        </div>
    </div>
    
</div>
    <!-- SONG -->




        <!-- SONG -->
<div class="song fade-up">


    <div class="song-img">
        <img src="images/Bein Sports 3.png" alt="song"  data-song="blindinglights" class="play">
    </div>

    <div class="song-details">
        <div class="song-details-content">
        <div class="song-name">Bein Sports 3 HD</div>
        <div class="artist-name">Playhls.com</div>
        </div>
        <div class="play-bein3">
            <a href="https://playhls.com/?url=https%3A%2F%2Fsakolink-online.linksako.workers.dev%2F%3Fu%3Dhttps%3A%2F%2Fm3u8.herseyunutulur.workers.dev%2Fyayinb3.m3u8" target="_blank">
                <img src="images/play.png" alt="play">1080P
            </a>   
        </div>
    </div>
    
</div>
    <!-- SONG -->




        <!-- SONG -->
<div class="song fade-up">


    <div class="song-img">
        <img src="images/bein_sport4_205x150_2022.png" alt="song">
    </div>

    <div class="song-details">
        <div class="song-details-content">
        <div class="song-name">Bein Sports 4 HD</div>
        <div class="artist-name">Playhls.com</div>
        </div>
        <div class="play-bein3">
            <a href="https://playhls.com/?url=https%3A%2F%2Ftest.cors.workers.dev%2F%3Fhttps%3A%2F%2Foctff.tvbom.online%2Fyayinb4.m3u8" target="_blank">
                <img src="images/play.png" alt="play">1080P
            </a>   
        </div>
    </div>
    
</div>



</div>
</div>

<!-- SONGS CONTAINER -->



 <!-- HEADPHONE IMG -->
 <div class="headphone img text">
    <img src="images/headphone.png" title="headphone zone" class="text" alt="headphone">
  </div>
   <!-- HEADPHONE IMG -->
  
               
   
 <!-- MUSIC INDICATOR -->
 <div class="music-indicator">
    <span style="--i:1;" class="music-indicator-span"></span>
    <span style="--i:2;" class="music-indicator-span "></span>
    <span style="--i:3;" class="music-indicator-span "></span>
    <span style="--i:4;" class="music-indicator-span "></span>
  </div>
   <!-- MUSIC INDICATOR -->
  
               


<!-- progress-bar -->
<div class="progress-bar-container fade-in">
    <div class="progressbar"></div>
</div>
<!-- progress-bar -->






        </div>
<!-- CONTENT -->


      
    <!-- NAVIGATION CONTENT -->

    <div class="navigation-content">
        <div class="navigation-logo hover opacity">
            <a href="#" class="text">ARLO BROWN</a>
         </div>
        <ul class="navigation-ul">
            <li><a href="index-one.html" data-text="Home" data-img="images/bg-image-three.jpg">Home</a></li>
            <li><a href="about-one.html"  data-text="About"  data-img="images/about-img.jpg">About</a></li>
            <li><a href="songs-one.html" data-text="Maç Linkleri"  data-img="images/album-thumbnail-nine.jpg">Maç Linkleri</a></li>
            <li><a href="blog-one.html"  data-text="Blogs" data-img="images/main-bg-three.jpg">Blogs</a></li>
            <li><a href="contact-one.html"  data-text="Contact" data-img="images/album-thumbnail-four.jpg">Contact</a></li>
        </ul>
        <div class="navigation-close hover about-close opacity">
            <div class="navigation-close-line"></div>
            <div class="navigation-close-line"></div>
          </div>
    
            <div class="project-preview"></div>
    
            
     <!-- HEADPHONE IMG -->
     <div class="headphone-navigation opacity">
        <img src="images/headphone.png" title="headphone zone" class="text" alt="headphone">
      </div>
       <!-- HEADPHONE IMG -->
    
    
        <!-- SOCIAL MEDIA LINKS -->
          <!-- SOCIAL MEDIA LINKS -->
    
    </div>
    
    <!-- NAVIGATION CONTENT -->
      






    </main>


    <script src="js/jquery.min.js"></script>
    <script src="js/bez.js"></script>
    <script src="js/pace.js"></script>
    <script src="js/index.js"></script>
</body>
</html>
